* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-link1 {
  position: absolute;
  width: 99px;
  height: 29px;
  left: 990px;
  top: 90px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #6749A5;
  text-decoration: none; 

}

.nav-link2 {
   position: absolute;
   width: 99px;
   height: 29px;
   left: 1090px;
   top: 90px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;
   color: #CBB1A2;
   text-decoration: none; 
}

.nav-link3 {
   position: absolute;
   width: 99px;
   height: 29px;
   left: 1193px;
   top: 90px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;
   color: #CBB1A2;
   text-decoration: none; 
}

.nav-link {
   position: absolute;
   width: 99px;
   height: 29px;
   left: 300px;
   top: 80px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 48px;
   line-height: 59px;
}

.img {
   width: 950px;
   margin-top: 200px;
   margin-left: 300px;

}

.img1 {
  width: 960px;
  margin-top: 380px;
  margin-left: 295px;
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 10%;
  height: 100%;
  background-color: #FFE4D6;
  z-index: -1;
  } 


.para {
  font-size: 30px;
  font-family: Montserrat;
  color: white;
  margin-top: -380px;
  margin-left: 320px;
}

.para1 {
  font-size: 20px;
  font-family: Montserrat;
  color: white;
  margin-left: 320px;
}

.para2 {
  font-size: 25px;
  font-family: Montserrat;

  color: white;
  margin-left: 1100px;
  margin-top: -55px;
}

.para3 {
  font-size: 25px;
  font-family: Montserrat;
  color: white;
  margin-left: 320px;
  margin-top: -420px;
}

.para4 {
  font-size: 20px;
  font-family: Montserrat;
  color: white;
  margin-left: 320px;
  margin-top: 5px;
}

.para5 {
  font-size: 25px;
  font-family: Montserrat;
  color: white;
  margin-left: 1110px;
  margin-top: -60px;
}

.btn {
width: 40px;
margin-left: 320px;
margin-top: 280px;
position: absolute;

}

.btn1 {
  width: 40px;
  margin-left: 320px;
  margin-top: 760px;
  position: absolute;
  
}

.logo {
  width: 50px;
  margin-top: -110px;
  margin-left: 30px;
  position: absolute;

} 

.logo1 {
  width: 50px;
  margin-top: -20px;
  margin-left: 30px;
  position: absolute;

}

.logo2 {
  width: 50px;
  margin-top: 70px;
  margin-left: 30px;
  position: absolute;
 
}

@media screen and (max-width: 480px) {
.img {
    width: 470px;
    margin-top: 200px;
    margin-left: 120px;
 
}

.img1 {
  width: 470px;
  margin-top: 100px;
  margin-left: 125px;
  
}


.btn {
  width: 35px;
  margin-left: 130px;
  margin-top: -50px;
  position: absolute;
  
}

.btn1 {
  width: 35px;
  margin-left: 135px;
  margin-top: 270px;
  position: absolute;
  
}

.para {
  font-size: 25px;
  font-family: Montserrat;
  color: white;
  margin-top: -190px;
  margin-left: 130px;
  position: absolute;
}

.para1 {
  font-size: 25px;
  font-family: Montserrat;
  color: white;
  margin-top: -160px;
  margin-left: 130px;
  position: absolute;
}

.para2 {
  font-size: 20px;
  font-family: Montserrat;
  color: white;
  margin-left: 540px;
  margin-top: -190px;
  position: absolute;

}

.para3 {
  font-size: 25px;
  font-family: Montserrat;
  color: white;
  margin-left: 135px;
  margin-top: -210px;
  

}

.para4 {
  font-size: 25px;
  font-family: Montserrat;
  color: white;
  margin-top: 5px;
  margin-left: 135px;
  

}

.para5 {
  font-size: 20px;
  font-family: Montserrat;
  color: white;
  margin-left: 550px;
  margin-top: -65px;

}

.logo {
  width: 40px;
  margin-top: -350px;
  margin-left: 10px;
  position: absolute;

} 

.logo1 {
  width: 40px;
  margin-top: -280px;
  margin-left: 10px;
  position: absolute;

}

.logo2 {
  width: 40px;
  margin-top: -210px;
  margin-left: 10px;
  position: absolute;
 
}

.nav-link {
  position: absolute;
  width: 99px;
  height: 29px;
  left: 130px;
  top: 80px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 59px;
  position: absolute;

}

.nav-link1 {
  position: absolute;
  width: 99px;
  height: 29px;
  left: 300px;
  top: 95px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #6749A5;
  text-decoration: none; 
  position: absolute;


}

.nav-link2 {
  position: absolute;
  width: 99px;
  height: 29px;
  left: 400px;
  top: 95px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #CBB1A2;
  text-decoration: none; 
  position: absolute;


}

.nav-link3 {
  position: absolute;
  width: 99px;
  height: 29px;
  left: 500px;
  top: 95px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #CBB1A2;
  text-decoration: none; 
  position: absolute;

}

}
